.drag-space{
    background-image: url("../../assets/images/old_scroll.jpg");
    border-radius: 10px;
}

.Modal{
    background-color: white;
    position: relative;
    width: 50%;
    height: 50%;
    margin-inline: auto;
    top: 30%;
    padding: 20px;
    border-radius: 20px;
}

.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}