.footer{
    margin-top: 10px;
    padding: 20px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__alignment{
        width: 1020px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}